body {
  background-image: url('../striped_lens.png');
}

.container {
  margin: 20px auto;
  width: 1200px;
  border-radius: 5px;
  font-family: 'Armata', sans-serif;
  background-color: black;
  padding-bottom: 5px;
}
th {
  text-align: left;
}

header {
  padding: 20px;
  padding-bottom: 0;
  background-color: #bdc3c7;
  border-radius: 5px 5px 0 0;
}

#login {
  float: right;
  margin-right: 10px;
}

#login form, #login input {
  width: 80px;
  margin-bottom: 10px;
}

#login input {
  border-radius: 5px;
  background-color: #27ae60;
  border: none;
  color: white;
  padding: 5px;
}

header h1 {
  font-family: 'Racing Sans One', cursive;
  margin-top: 0px;
}

header h2 {
  font-family: 'Racing Sans One', cursive;
}

nav, nav ul, nav li{
  margin-bottom: 0;
}
nav li {
  display: inline-block;
  padding: 10px 30px;
  background-color: #27ae60;
  color: white;
}

nav li a {
  color: white;
  text-decoration: none;
}

.content {
  width: 1140px;
  padding: 10px;
  background-color: #ecf0f1;
  margin: 20px auto;
  margin-top: 0;
  border-radius: 0 0  5px 5px;
}

.content a {
  text-decoration: none;
}

.content input, textarea {
  margin-top: 10px;
  display: block;
}

.content input[type="text"], input[type="password"] {
  width: 300px;
}

.content input[placeholder="Title"], .content input[placeholder="URL"] {
  width: 600px;
}

.comment {
  margin-left: 40px;
}

.reply {
  font-size: .8em;
}

.user-comment{

}

.user-name {

}

.user-post {
  
}
