<h2><%= @user.name %></h2>
<h4>User since <%= @user.created_at.strftime("%B %d, %Y") %></h4>

<h3>most recent comments</h3>
<% @user.comments.order("created_at DESC").limit(5).each do |comment| %> 
<h4><%= comment.post.title %>, <%= comment.created_at.strftime("%B %d, %Y") %></h4> 
<p></p>

